<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Rasel | Wbsite App
    include ../pug/styles/styles.pug
  body
   //- Start Header
   include ../pug/sections/header.pug
   //- End Header
   //- Start Intro
   include ../pug/sections/intro.pug
   //- End Intro
   //- Start Intro
   include ../pug/sections/features.pug
   //- End Intro
   //- Start Gallery
   include ../pug/sections/gallery.pug
   //- End Gallery
   //- Start Other
   include ../pug/sections/other.pug
   //- End Other
   //- Start Footer
   include ../pug/sections/footer.pug
   //- End Footer


   include ../pug/scripts/scripts.pug
   